{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Register</h1>
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card bg-light">
                <div class="card-body">
                    <h1 class="text-center">Register</h1>
                    {{ form_start(registrationForm,{'attr':{'novalidate' : 'novalidate'}}) }}
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.name) }}
                    {{ form_row(registrationForm.genre) }}
                    {{ form_row(registrationForm.phone) }}
                    {{ form_row(registrationForm.cin) }}



                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Password'
                    }) }}


                    <button type="submit" class="btn">Register</button>
                    {{ form_end(registrationForm) }}
                </div>
            </div>
        </div>
    </div>


{% endblock %}


