{% include 'admin/admin.html.twig' %}
{% include 'admin/navbar.html.twig' %}
{% include 'admin/sidebar.html.twig' %}
{% block body %}

    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-md-10">
                    <div class="card card-outline card-info">
                        <div class="card-header">
                            <br>
                            <div class="card-body pad">
                                {% form_theme form 'bootstrap_4_layout.html.twig' %}

                                {{ form_start(form,{'attr':{'novalidate' : 'novalidate'}}) }}
                                {{ form_errors(form) }}
                                <div class="form-group">
                                    {{ form_label(form.nom,'Nom article') }}
                                    {{ form_widget(form.nom) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.description,'Description') }}
                                    {{ form_widget(form.description) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.prix,'Prix') }}
                                    {{ form_widget(form.prix) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.quantite,'Quantite') }}
                                    {{ form_widget(form.quantite) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.categorie,'Categorie') }}
                                    {{ form_widget(form.categorie) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.fabricant,'Fabricant') }}
                                    {{ form_widget(form.fabricant) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.img,'Image article') }}
                                    {{ form_widget(form.img) }}
                                </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}