{% extends 'base.html.twig' %}

{% block body %}
    <!--
<div>
    <h4 class="title"><a href="#">{{ article.nom }}</a></h4>
    <p class="price with-discount">{{ article.prix }} DT </p>
    <p class="price with-discount">{{ article.description }}  </p>
    <p class="price with-discount">{{ article.fabricant }}  </p>
    <img src="{{ asset('upload/'~article.img~'') }}" alt="#">
    <a href="#" class="btn">Ajouter au panier</a>

        </div>
        -->
    <!--Section: Block Content-->
    <br>
    <br>
    <section class="mb-5">

        <div class="row">
            <div class="col-md-6 mb-4 mb-md-0">

                <div id="mdb-lightbox-ui"></div>

                <div class="mdb-lightbox">

                    <div class="row product-gallery mx-1">

                        <div class="col-md-6 ">
                                    <img src="{{ asset('upload/'~article.img~'') }}" class="img-fluid z-depth-1" width="250px" height="300px">

                        </div>

                    </div>

                </div>

            </div>
            <div class="col-md-6">

                <h5>{{ article.nom }}</h5>
                <p class="mb-2 text-muted text-uppercase small">{{ article.fabricant }}</p>
                <p><span class="mr-1"><strong>{{ article.prix }} DT </strong></span></p>
                <p class="pt-1">{{ article.description }}</p>

                <a href="#" class="btn"> Ajouter au panier </a>

            </div>
        </div>

    </section>





    <!--Section: Block Content-->
{% endblock %}
